
.icon-eye-off:before { content: '\30'; } /* '0' */
.icon-equalizer:before { content: '\31'; } /* '1' */
.icon-download:before { content: '\32'; } /* '2' */
.icon-bookmark:before { content: '\33'; } /* '3' */
.icon-mobile:before { content: '\34'; } /* '4' */
.icon-tag:before { content: '\35'; } /* '5' */
.icon-tags:before { content: '\36'; } /* '6' */
.icon-mail-alt:before { content: '\37'; } /* '7' */
.icon-dot-3:before { content: '\38'; } /* '8' */
.icon-eye:before { content: '\39'; } /* '9' */
.icon-export-1:before { content: '\41'; } /* 'A' */
.icon-chart:before { content: '\42'; } /* 'B' */
.icon-spin3:before { content: '\43'; } /* 'C' */
.icon-spin6:before { content: '\44'; } /* 'D' */
.icon-chrome:before { content: '\45'; } /* 'E' */
.icon-comment-inv-alt2:before { content: '\46'; } /* 'F' */
.icon-chart-bar:before { content: '\47'; } /* 'G' */
.icon-chart-pie:before { content: '\48'; } /* 'H' */
.icon-sun-inv:before { content: '\49'; } /* 'I' */
.icon-moon-inv:before { content: '\4a'; } /* 'J' */
.icon-volume-up:before { content: '\4b'; } /* 'K' */
.icon-wrench:before { content: '\4c'; } /* 'L' */
.icon-file-pdf:before { content: '\4d'; } /* 'M' */
.icon-doc-text-inv:before { content: '\4e'; } /* 'N' */
.icon-home:before { content: '\4f'; } /* 'O' */
.icon-icon_macros:before { content: '\50'; } /* 'P' */
.icon-chart-bar-1:before { content: '\51'; } /* 'Q' */
.icon-check-empty:before { content: '\52'; } /* 'R' */
.icon-check:before { content: '\53'; } /* 'S' */
.icon-mars:before { content: '\54'; } /* 'T' */
.icon-venus:before { content: '\55'; } /* 'U' */
.icon-id-card-o:before { content: '\56'; } /* 'V' */
.icon-archive:before { content: '\57'; } /* 'W' */
.icon-bell-alt:before { content: '\58'; } /* 'X' */
.icon-money:before { content: '\59'; } /* 'Y' */
.icon-logout-1:before { content: '\5a'; } /* 'Z' */
.icon-cancel:before { content: '\61'; } /* 'a' */
.icon-user-times:before { content: '\62'; } /* 'b' */
.icon-user-plus:before { content: '\63'; } /* 'c' */
.icon-users:before { content: '\64'; } /* 'd' */
.icon-user:before { content: '\65'; } /* 'e' */
.icon-calendar:before { content: '\66'; } /* 'f' */
.icon-search:before { content: '\67'; } /* 'g' */
.icon-logout:before { content: '\68'; } /* 'h' */
.icon-clipboard:before { content: '\69'; } /* 'i' */
.icon-cog:before { content: '\6a'; } /* 'j' */
.icon-cog-alt:before { content: '\6b'; } /* 'k' */
.icon-up-open:before { content: '\6c'; } /* 'l' */
.icon-right-open:before { content: '\6d'; } /* 'm' */
.icon-left-open:before { content: '\6e'; } /* 'n' */
.icon-down-open:before { content: '\6f'; } /* 'o' */
.icon-plus:before { content: '\70'; } /* 'p' */
.icon-th-large:before { content: '\71'; } /* 'q' */
.icon-sort-alt-down:before { content: '\72'; } /* 'r' */
.icon-sort-alt-up:before { content: '\73'; } /* 's' */
.icon-language:before { content: '\74'; } /* 't' */
.icon-language-1:before { content: '\75'; } /* 'u' */
.icon-github-circled-alt2:before { content: '\76'; } /* 'v' */
.icon-link:before { content: '\77'; } /* 'w' */
.icon-export:before { content: '\78'; } /* 'x' */
.icon-download-alt:before { content: '\79'; } /* 'y' */
.icon-paper-plane:before { content: '\7a'; } /* 'z' */
