
.morphiq-icon-eye-off:before { content: '\30'; } /* '0' */
.morphiq-icon-equalizer:before { content: '\31'; } /* '1' */
.morphiq-icon-download:before { content: '\32'; } /* '2' */
.morphiq-icon-bookmark:before { content: '\33'; } /* '3' */
.morphiq-icon-mobile:before { content: '\34'; } /* '4' */
.morphiq-icon-tag:before { content: '\35'; } /* '5' */
.morphiq-icon-tags:before { content: '\36'; } /* '6' */
.morphiq-icon-mail-alt:before { content: '\37'; } /* '7' */
.morphiq-icon-dot-3:before { content: '\38'; } /* '8' */
.morphiq-icon-eye:before { content: '\39'; } /* '9' */
.morphiq-icon-export-1:before { content: '\41'; } /* 'A' */
.morphiq-icon-chart:before { content: '\42'; } /* 'B' */
.morphiq-icon-spin3:before { content: '\43'; } /* 'C' */
.morphiq-icon-spin6:before { content: '\44'; } /* 'D' */
.morphiq-icon-chrome:before { content: '\45'; } /* 'E' */
.morphiq-icon-comment-inv-alt2:before { content: '\46'; } /* 'F' */
.morphiq-icon-chart-bar:before { content: '\47'; } /* 'G' */
.morphiq-icon-chart-pie:before { content: '\48'; } /* 'H' */
.morphiq-icon-sun-inv:before { content: '\49'; } /* 'I' */
.morphiq-icon-moon-inv:before { content: '\4a'; } /* 'J' */
.morphiq-icon-volume-up:before { content: '\4b'; } /* 'K' */
.morphiq-icon-wrench:before { content: '\4c'; } /* 'L' */
.morphiq-icon-file-pdf:before { content: '\4d'; } /* 'M' */
.morphiq-icon-doc-text-inv:before { content: '\4e'; } /* 'N' */
.morphiq-icon-cancel:before { content: '\61'; } /* 'a' */
.morphiq-icon-user-times:before { content: '\62'; } /* 'b' */
.morphiq-icon-user-plus:before { content: '\63'; } /* 'c' */
.morphiq-icon-users:before { content: '\64'; } /* 'd' */
.morphiq-icon-user:before { content: '\65'; } /* 'e' */
.morphiq-icon-calendar:before { content: '\66'; } /* 'f' */
.morphiq-icon-search:before { content: '\67'; } /* 'g' */
.morphiq-icon-logout:before { content: '\68'; } /* 'h' */
.morphiq-icon-clipboard:before { content: '\69'; } /* 'i' */
.morphiq-icon-cog:before { content: '\6a'; } /* 'j' */
.morphiq-icon-cog-alt:before { content: '\6b'; } /* 'k' */
.morphiq-icon-up-open:before { content: '\6c'; } /* 'l' */
.morphiq-icon-right-open:before { content: '\6d'; } /* 'm' */
.morphiq-icon-left-open:before { content: '\6e'; } /* 'n' */
.morphiq-icon-down-open:before { content: '\6f'; } /* 'o' */
.morphiq-icon-plus:before { content: '\70'; } /* 'p' */
.morphiq-icon-th-large:before { content: '\71'; } /* 'q' */
.morphiq-icon-sort-alt-down:before { content: '\72'; } /* 'r' */
.morphiq-icon-sort-alt-up:before { content: '\73'; } /* 's' */
.morphiq-icon-language:before { content: '\74'; } /* 't' */
.morphiq-icon-language-1:before { content: '\75'; } /* 'u' */
.morphiq-icon-github-circled-alt2:before { content: '\76'; } /* 'v' */
.morphiq-icon-link:before { content: '\78'; } /* 'x' */
.morphiq-icon-export:before { content: '\79'; } /* 'y' */
.morphiq-icon-download-alt:before { content: '\7a'; } /* 'z' */
.morphiq-icon-paper-plane:before { content: '\f01d'; } /* '' */
