@font-face {
  font-family: 'morphiq-lume';
  src: url('../font/morphiq-lume.eot?36548250');
  src: url('../font/morphiq-lume.eot?36548250#iefix') format('embedded-opentype'),
       url('../font/morphiq-lume.woff2?36548250') format('woff2'),
       url('../font/morphiq-lume.woff?36548250') format('woff'),
       url('../font/morphiq-lume.ttf?36548250') format('truetype'),
       url('../font/morphiq-lume.svg?36548250#morphiq-lume') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'morphiq-lume';
    src: url('../font/morphiq-lume.svg?36548250#morphiq-lume') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "morphiq-lume";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-align-justify:before { content: '\30'; } /* '0' */
.icon-chart-pie-slice:before { content: '\31'; } /* '1' */
.icon-chart-pie:before { content: '\32'; } /* '2' */
.icon-calendar-days:before { content: '\33'; } /* '3' */
.icon-book-text:before { content: '\34'; } /* '4' */
.icon-bell-ring:before { content: '\35'; } /* '5' */
.icon-bell:before { content: '\36'; } /* '6' */
.icon-arrow-up-narrow-wide:before { content: '\37'; } /* '7' */
.icon-arrow-down-wide-narrow:before { content: '\38'; } /* '8' */
.icon-arrow-bend-double-up-right:before { content: '\39'; } /* '9' */
.icon-save-all:before { content: '\3c'; } /* '<' */
.icon-package:before { content: '\41'; } /* 'A' */
.icon-palette:before { content: '\42'; } /* 'B' */
.icon-paperclip:before { content: '\43'; } /* 'C' */
.icon-philippine-peso:before { content: '\44'; } /* 'D' */
.icon-phone:before { content: '\45'; } /* 'E' */
.icon-plus:before { content: '\46'; } /* 'F' */
.icon-power:before { content: '\47'; } /* 'G' */
.icon-printer:before { content: '\48'; } /* 'H' */
.icon-receipt-text:before { content: '\49'; } /* 'I' */
.icon-rotate-ccw:before { content: '\4a'; } /* 'J' */
.icon-save:before { content: '\4b'; } /* 'K' */
.icon-send:before { content: '\4c'; } /* 'L' */
.icon-settings:before { content: '\4d'; } /* 'M' */
.icon-sliders-horizontal:before { content: '\4e'; } /* 'N' */
.icon-sliders-vertical:before { content: '\4f'; } /* 'O' */
.icon-speaker-simple-high:before { content: '\50'; } /* 'P' */
.icon-speaker-simple-low:before { content: '\51'; } /* 'Q' */
.icon-speaker-simple-none:before { content: '\52'; } /* 'R' */
.icon-speaker-simple-x:before { content: '\53'; } /* 'S' */
.icon-trash-2:before { content: '\54'; } /* 'T' */
.icon-trending-down:before { content: '\55'; } /* 'U' */
.icon-trending-up:before { content: '\56'; } /* 'V' */
.icon-upload-simple:before { content: '\57'; } /* 'W' */
.icon-user-round-minus:before { content: '\58'; } /* 'X' */
.icon-user-round-pen:before { content: '\59'; } /* 'Y' */
.icon-user-round-plus:before { content: '\5a'; } /* 'Z' */
.icon-users-round:before { content: '\5b'; } /* '[' */
.icon-venus:before { content: '\5d'; } /* ']' */
.icon-chevron-down:before { content: '\61'; } /* 'a' */
.icon-chevron-left:before { content: '\62'; } /* 'b' */
.icon-chevron-right:before { content: '\63'; } /* 'c' */
.icon-chevron-up:before { content: '\64'; } /* 'd' */
.icon-eye:before { content: '\65'; } /* 'e' */
.icon-eye-off:before { content: '\66'; } /* 'f' */
.icon-file-text:before { content: '\67'; } /* 'g' */
.icon-folder-closed:before { content: '\68'; } /* 'h' */
.icon-folder-open:before { content: '\69'; } /* 'i' */
.icon-funnel:before { content: '\6a'; } /* 'j' */
.icon-globe:before { content: '\6b'; } /* 'k' */
.icon-house:before { content: '\6c'; } /* 'l' */
.icon-id-card:before { content: '\6d'; } /* 'm' */
.icon-languages:before { content: '\6e'; } /* 'n' */
.icon-layout-panel-left:before { content: '\6f'; } /* 'o' */
.icon-lock-keyhole:before { content: '\70'; } /* 'p' */
.icon-lock-keyhole-open:before { content: '\71'; } /* 'q' */
.icon-log-out:before { content: '\72'; } /* 'r' */
.icon-mail:before { content: '\73'; } /* 's' */
.icon-map:before { content: '\74'; } /* 't' */
.icon-map-pin:before { content: '\75'; } /* 'u' */
.icon-mars:before { content: '\76'; } /* 'v' */
.icon-message-square-more:before { content: '\77'; } /* 'w' */
.icon-morphiq:before { content: '\78'; } /* 'x' */
.icon-newspaper:before { content: '\79'; } /* 'y' */
.icon-notebook-text:before { content: '\7a'; } /* 'z' */
